@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default, forest --prefersdark;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined", Arial, Helvetica, sans-serif;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

